<div class="min-h-screen">
<!-- Conditional rendering -->
  @if(service){

    <div class="py-8 bg-white md:py-12">
      <div class="flex flex-col w-full">
        <div class="mb-6 text-center md:mb-8">
          <h2 class="mb-2 text-2xl font-bold md:text-4xl text-primary">
            {{service.title}}
          </h2>
          <p class="text-sm text-gray-600 md:text-base">
            Explorez les détails de services que nous proposons
          </p>
        </div>

        <div class="mb-6 overflow-hidden rounded-md shadow-md md:mb-8">
          <img
            [src]=service.image
            alt="Construction Workers"
            class="w-full rounded-xl h-auto md:min-h-[400px]"
            style="max-height: 400px; object-fit: cover;"
          />
        </div>

        <div class="flex flex-col items-start px-12 mx-auto mb-6 md:mb-8">
          <h3 class="w-full mb-3 text-4xl font-semibold text-center text-gray-800">Service Details</h3>
          <p class="mb-4 text-sm text-gray-700 md:text-base">
           {{service.description}}
          </p>
          <ul class="pl-6 space-y-2 text-lg text-gray-700 list-disc">
            
            @for(item of service.items; track item )
            {
              <li>
              {{ item }}
            </li>}
          </ul>
        </div>
      </div>
    </div>
  }

  <!-- Fallback Content if 'service' is not available -->
  @if(!service){
    <div  class="mt-12 text-lg text-center text-gray-500">
      <p>No service selected. Please go back to browse available services.</p>
      <button 
        class="px-4 py-2 mt-4 font-medium text-gray-700 transition duration-300 bg-gray-200 rounded-lg hover:bg-gray-300"
        [routerLink]="['/']"
      >
        Back to Services
      </button>
    </div>
  }
</div>
