<!-- <div class="w-full py-[50px]">
  <section id="cta" 
      style="background: linear-gradient(to bottom, rgba(0, 0, 255, 0.332), rgba(0, 0, 255, 0.325)), url('/images/business-consulting.jpg') ; background-attachment: scroll; background-size: cover; background-position: center;" 
      class="text-center text-white py-28"
    >
    <div class="container mx-auto">
      <h2 class="mb-6 text-4xl font-extrabold">Êtes-vous prêt à transformer votre entreprise ?</h2>
      <p class="mb-8 text-xl">Avec <strong>Ngombe Sarl</strong>, ouvrez la porte à de nouvelles opportunités et faites passer votre entreprise au niveau supérieur.</p>
      <a href="https://www.onpousse.com" 
          target="_blank"
          class="flex justify-center px-10 py-4 mx-auto font-semibold text-center text-white transition duration-500 transform bg-blue-600 rounded-lg items center w-fit hover:bg-blue-700 hover:scale-105">
          Commencez dès maintenant
      </a>
    </div>
  </section>
</div>

 -->

 
  <section class="py-16 fade-in"
    appAnimateOnScroll animationClass="fade-in">
    <div class="container mx-auto md:px-6">
      <h2 
        class="mb-12 text-3xl font-bold text-center md:text-start text-primary slide-down"
        appAnimateOnScroll animationClass="slide-down"
        [delay]="100">Nos Services
      </h2>
              <!-- <p class="mb-16 text-center text-gray-600">
          Toutes les opérations commerciales, industrielles et financières rattachées directement ou indirectement à notre expertise multisectorielle.
        </p> -->

      <div class="container flex flex-wrap justify-center gap-8">
      @for(service of services; track service.id) {
        <div class="max-w-sm p-6 transition rounded-xl hover:shadow-2xl hover:-translate-y-2 zoom-in-item"
              appAnimateOnScroll animationClass="zoom-in-item"
              [delay]="200 + (service.id * 150)">
            <div class="mb-2 overflow-hidden rounded-xl group">
              <img loading="lazy" [src]="service.image" alt="" class="transition-transform duration-300 rounded-xl group-hover:scale-105">
            </div>
            <div class="flex mb-4">
              <h3 class="ml-4 text-xl font-bold text-gray-800">{{ service.title }}</h3>
            </div>
            <ul class="text-gray-600 space-y-2 min-h-[110px]">
            @for(item of service.items; track item){<li class="fade-in-item" appAnimateOnScroll animationClass="fade-in-item" [delay]="400 + (service.id * 150) + ($index * 50)">- {{ item }}</li>}
            </ul>
            <a [routerLink]="['/service',service.id]" class="flex items-center gap-2 p-2 text-primary hover:underline">
              <span>Voir plus</span>
              <fa-icon [icon]="faArrowRight"></fa-icon>
            </a>
        </div>
      }
      </div>
    </div>
  </section>