<header class="bg-primary text-white sticky top-0 z-50">
    <div class="desktop-menu hidden container  mx-auto md:flex justify-between items-center p-4">
      <a href="/" class="flex items-center">
        <img src="logos/ngombe.jpg" alt="Ngombe SARL" class="h-12 mr-4">
        <h1 class="text-3xl font-bold">Ngombe SARL</h1>
      </a>
      <nav class="space-x-6">
        <a href="#home" class="hover:text-blue-600">Acceuil</a>
        <a href="#ingenierie" class="hover:text-blue-600">Ingénierie</a>
        <a href="#produits" class="hover:text-blue-600">Produits</a>
        <a href="#services" class="hover:text-blue-600">Services</a>
        <a href="#about-us" class="hover:text-blue-600">A propos</a>
        <a href="#contact" class="hover:text-blue-600">Contact</a>
      </nav>
    </div>

    <div class="fixed left-0 top-4 z-50 md:hidden w-full flex items-center justify-between px-8">
      <!-- <div class="w-[70px] h-[70px] rounded-full"> -->
      <a href="/" class="w-[70px] h-[70px]">
        <img src="logos/ngombe.jpg" alt="logo ngombe" [ngClass]="{'hidden' : isOpen}" class="w-full h-full rounded-full object-cover">
      </a>
      <button 
        (click)="toggleSidebar()"
        class="hamburger menu-btn-side" 
        [ngClass]="{'open' : isOpen}"
        id="menu-btn-side">
        <span class="hamburger-top"></span>
        <span class="hamburger-middle"></span>
        <span class="hamburger-bottom"></span>
      </button>
    </div>

    <sidebar 
      class="capitalize z-40 mobile-menu fixed right-0 top-0 flex flex-col items-center pt-8 h-screen w-[90vw] sm:w-[70vw] bg-blue-500/50 backdrop-blur-md transition-transform duration-1000" 
      [ngClass]="{'translate-x-0': isOpen, 'translate-x-full': !isOpen}"
    > 
      <div class="w-[70px] h-[70px]">
        <img src="logos/ngombe.jpg" alt="logo ngombe" [ngClass]="{'hidden' : !isOpen}" class="w-full h-full rounded-full object-cover">
      </div>
      <nav class="flex flex-col w-full justify-center items-center mt-8 gap-4">
        <a (click)="toggleSidebar()" href="#home" class="hover:text-blue-300 text-4xl">Acceuil</a>
        <a (click)="toggleSidebar()" href="#ingenierie" class="hover:text-blue-300 text-4xl">Ingénierie</a>
        <a (click)="toggleSidebar()" href="#produits" class="hover:text-blue-300 text-4xl">Produits</a>
        <a (click)="toggleSidebar()" href="#services" class="hover:text-blue-300 text-4xl">Services</a>
        <a (click)="toggleSidebar()" href="#about-us" class="hover:text-blue-300 text-4xl">A propos</a>
        <a (click)="toggleSidebar()" href="#contact" class="hover:text-blue-300 text-4xl">Contact</a>
      </nav>
  </sidebar>
  </header>