a{
    position: relative;
}

a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    transform-origin: center;
    width: 0;
    height: 2px;
    background: #2563eb;;
    transition: 1s; 
    margin-top: 2px;
}

a:hover::after{
    width: 100%;
}


@media screen and (min-width: 500px) and (max-width: 1034px) {
    header .desktop-menu{
        // background: red;
        flex-direction: column;
        gap: 15px;
    }
}