<div>
    <div class="flex flex-col w-full py-12 bg-white ">
        <div class="flex flex-col-reverse items-center justify-between px-6 md:gap-10 md:px-20 md:flex-row">
          <!-- Left Content -->
          <div class="w-full text-center md:w-1/2 md:text-left">
            <h1 class="text-3xl  md:text-6xl font-bold text-[#00B2FF] leading-tight">
              L'EXPERTISE
              D'INGENIERIE DES
              PROCESSUS
              D'AFFAIRES
            </h1>
            <button class="mt-8 bg-[#00B2FF] hover:bg-[#009edd] text-white font-semibold py-3 px-6 rounded-full shadow-md transition-all duration-300">
              EXPLOREZ NOS SERVICES
            </button>
          </div>
      
          <!-- Right Content -->
          <div class="relative md:w-1/2">
            <img src="images/lovely-teenage-girl-with-curly-hair-posing-yellow-tshirt-min 1.png" alt="Student" class="rounded-lg mx-auto w-[360px] object-contain" />
            
            <!-- Floating Labels -->
            <div class="feature-tag absolute top-[15%] right-0 bg-white shadow-lg rounded-md px-4 py-2 flex items-center gap-2">
              <fa-icon [icon]="faProcessus" class="w-6 h-6 text-primary" ></fa-icon>
              <span class="text-sm font-medium">PROCESSUS</span>
            </div>
      
            <div class="feature-tag absolute top-[35%] left-0 bg-white shadow-lg rounded-md px-4 py-2 flex items-center gap-2">
              <img src="feature-tag assets/icons/engineering.svg" class="w-6 h-6" />
              <span class="text-sm font-medium">INGÉNIERIE</span>
            </div>
      
            <div class="feature-tag absolute bottom-[20%] left-0 bg-white shadow-lg rounded-md px-4 py-2 flex items-center gap-2">
              <img src="assets/icons/sirh.svg" class="w-6 h-6" />
              <span class="text-sm font-medium">SIRH NGOMBE</span>
            </div>
      
            <div class="feature-tag absolute bottom-[30%] right-0 bg-white shadow-lg rounded-md px-4 py-2 flex items-center gap-2">
              <img src="assets/icons/solution.svg" class="w-6 h-6" />
              <span class="text-sm font-medium">SOLUTION DIGITALE</span>
            </div>
          </div>
        </div>
        <div class="bottom-0 block w-full h-20 mt-2 md:hidden bg-primary"></div>
        <div class="bottom-0 hidden w-full h-20 mt-2 md:flex bg-primary "></div>
    </div>
      
</div>