<!-- <section id="trusted-by" class="py-16 bg-gray-100">
    <div class="container flex flex-col px-4 mx-auto md:px-6 lg:px-20">
      <h2 class="mb-12 text-4xl font-bold text-center uppercase text-primary section_title">
        Ils nous font confiance
      </h2>
      <p class="mb-8 text-center text-gray-600">
        Nous collaborons avec des partenaires de renom pour offrir des solutions d’ingénierie de qualité supérieure.
      </p>
  
      <div 
        class="grid items-center grid-cols-2 gap-8 overflow-hidden transition-all duration-500 ease-in-out md:grid-cols-4 lg:grid-cols-6"
        [style.max-height.px]="displayedPartnersCount * 100" 
      >
        @for(partner of partners | slice:0:displayedPartnersCount; track partner) {
            <div  
                class="p-4 text-center"
            >
                <img 
                    [src]="partner.logo" 
                    [alt]="partner.name" 
                    class="mx-auto mb-2 transition duration-300 shadow-lg h-14 hover:scale-105"
                >
                <p class="font-semibold text-gray-600 text-md">{{ partner.name }}</p>
            </div>
        }
      </div>
  
      <div class="flex items-center justify-center mt-8 text-center">
        @if(displayedPartnersCount < partners.length) {
            <button 
                (click)="showMore()" 
                class="flex items-center justify-center gap-2 px-8 py-3 font-medium text-gray-800 transition duration-300 bg-gray-200 rounded-lg hover:bg-gray-300"
                >
                <span>Voir plus</span>
                <fa-icon [icon]="faArrowDown"></fa-icon>
            </button>
        }
  
        @if(displayedPartnersCount > initialDisplayedCount){
            <button
                (click)="showLess()" 
                class="flex items-center justify-center gap-2 px-8 py-3 mt-4 font-medium text-gray-800 transition duration-300 bg-gray-200 rounded-lg hover:bg-gray-300"
                >
                <span>Voir moins</span>
                <fa-icon [icon]="faArrowUp"></fa-icon>
            </button>
        }
      </div>
    </div>
  </section>
   -->

  <section id="trusted-by" class="py-16">
    <div class="flex flex-col w-full">
      <div class="flex flex-col w-full">
        <h2 class="mb-12 text-4xl font-bold text-center uppercase text-primary">
          Ils nous font confiance
        </h2>
        <p class="mb-8 text-center text-gray-600">
          Nous collaborons avec des partenaires de renom pour offrir des solutions d'ingénierie de qualité supérieure.
        </p>
      </div>
      <!-- Conteneur pour faire défiler les partenaires -->
      <div class="relative bg-primary">
        <div 
          #partnersContainer 
          class="flex w-full pb-4 space-x-8 overflow-x-hidden scroll-smooth hide-scrollbar"
        >
          @for(partner of partners; track partner) {
            <div class="p-4 text-center min-w-max">
              <img 
                [src]="partner.logo" 
                [alt]="partner.name" 
                class="mx-auto mb-2 transition duration-300 shadow-lg h-14 hover:scale-105"
              >
              <p class="font-semibold text-gray-600 text-md">{{ partner.name }}</p>
            </div>
          }
        </div>
  
        <!-- Flèches gauche et droite -->
        <button 
          (click)="scrollPartners('left')" 
          class="absolute left-0 w-10 h-10 text-white transition duration-300 transform -translate-y-1/2 bg-gray-800 rounded-full top-1/2 hover:bg-gray-950"
        >
          <fa-icon [icon]="faArrowLeft"></fa-icon>
        </button>

        <button 
          (click)="scrollPartners('right')" 
          class="absolute right-0 w-10 h-10 text-white transition duration-300 transform -translate-y-1/2 bg-gray-800 rounded-full top-1/2 hover:bg-gray-950"
        >
          <fa-icon [icon]="faArrowRight"></fa-icon>
        </button>
      </div>
    </div>
  </section>
  