/* Hide the scrollbar */
#partnersContainer {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;      /* Firefox */
  }
  
  #partnersContainer::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
  