<section id="home_section" class="relative h-screen flex flex-col items-center justify-center bg-cover bg-center gap-1 px-4">
    <!-- Nom de l'entreprise -->
    <p class="text-lg text-gray-300 italic font-light tracking-wide">
        Ngombe Sarl
    </p>
    
    <!-- Slogan -->
    <p class="text-xl text-gray-300 italic font-medium text-center">
        Nous et le plus grand nombre
    </p>
    
    <!-- Section Header -->
    <p class="text-blue-600 text-sm font-semibold tracking-wide uppercase">
        Managed I.T. Solutions
    </p>
    
    <!-- Main Heading -->
    <h1 class="text-7xl text-white max-w-[70%] text-center leading-tight">
        Fiable, évolutif et conçu pour votre entreprise.
    </h1>
    
    <!-- Subtext -->
    <p class="text-white text-lg text-center max-w-[50%]">
        Des solutions complètes pour tous vos besoins technologiques.
    </p>
    
    <!-- Call-to-Action Button -->
    <a href="/#services" 
       class="bg-primary py-3 px-8 rounded-lg text-white text-lg font-medium hover:bg-blue-700 transition-colors duration-300">
        Explorez Nos Services
    </a>
</section>
