<section id="home_section" class="relative h-screen flex flex-col items-center justify-center bg-cover bg-center gap-1 px-4">
    <!-- Nom de l'entreprise -->
    <p class="text-xl text-gray-300 italic font-light tracking-wide">
        Ngombe Sarl
    </p>
    
    <!-- Slogan -->
    <!-- <p class="text-xl text-gray-300 italic font-medium text-center">
        Nous et le plus grand nombre
    </p> -->
    <p class="text-primary text-center uppercase text-4xl md:text-6xl lg:text-8xl">
        L'expertise d'ingénierie des processus d'affaires
    </p>  
    <!-- Main Heading
    <h1 class="text-3xl max-w-[98%] text-white text-center leading-tight  md:text-7xl md:max-w-[70%] ">
        Fiable, évolutif et conçu pour votre entreprise.
    </h1>
     -->
    <!-- Subtext -->
    <p class="text-white text-lg text-center md:max-w-[50%]">
        Des solutions complètes pour tous vos besoins.
    </p>
    
    <!-- Call-to-Action Button -->
    <a href="/#services" 
       class="bg-primary py-3 px-8 rounded-lg text-white text-lg font-medium hover:bg-blue-700 transition-colors duration-300">
        Explorez Nos Services
    </a>
</section>



<section>
    <section id="ingenierie" class="bg-white py-16">
        <div class="container mx-auto md:px-6 lg:px-20">
          <h2 class="text-4xl font-bold text-center text-primary mb-4">
            Ingénierie des processus d'affaires
          </h2>
          <p class="text-center text-gray-600 mb-8">
            Découvrez nos solutions complètes pour l'ingénierie des processus d'affaires et la transformation de votre entreprise.
          </p>
          
          <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 items-center">
            <!-- Image Section -->
            <div class="rounded-xl overflow-hidden shadow-lg group">
              <img src="images/ingenierie1.jpg" alt="Ingénierie des processus d'affaires" class="rounded-xl group-hover:scale-110 transition-transform duration-300">
            </div>
      
            <!-- Content Section -->
            <div>
              <h3 class="text-2xl font-semibold text-gray-800 mb-6">
                Ingénierie des Processus d'Affaires
              </h3>
              <p class="text-gray-600 mb-4">
                Faites votre métier : production alimentaire, industrie métallurgique, services télécommunications, maintenance industrielle, etc.
              </p>
              <p class="text-gray-600 mb-6">
                Nous nous occupons de la cartographie de vos processus, de la gestion documentaire, du pilotage de vos processus et de l’aide à la décision.
              </p>  

              <div class=" mb-6">
                <h3 class="text-2xl font-semibold text-gray-800">
                  Faites vous former,
                </h3>
                <p>Et beneficiez de ces avantages</p>
              </div>
              <ul class="space-y-4">
                <li class="flex items-start gap-3">
                  <span class="w-6 h-6 text-white bg-primary rounded-full flex items-center justify-center">✓</span>
                  <span>Durée : 1 mois gratuit offert</span>
                </li>
                <li class="flex items-start gap-3">
                  <span class="w-6 h-6 text-white bg-primary rounded-full flex items-center justify-center">✓</span>
                  <span>Prix : par processus</span>
                </li>
                <li class="flex items-start gap-3">
                  <span class="w-6 h-6 text-white bg-primary rounded-full flex items-center justify-center">✓</span>
                  <span>Attestation de conformité des processus d’affaires délivrée</span>
                </li>
                <li class="flex items-start gap-3">
                  <span class="w-6 h-6 text-white bg-primary rounded-full flex items-center justify-center">✓</span>
                  <span>Bonus : ajout dans le référentiel mondial des entreprises certifiées</span>
                </li>
                <li class="flex items-start gap-3">
                  <span class="w-6 h-6 text-white bg-primary rounded-full flex items-center justify-center">✓</span>
                  <span>Préparation à la certification de votre entreprise</span>
                </li>
              </ul>
      
              <a href="/#contact" class="mt-8 inline-block px-10 py-4 rounded-lg bg-blue-600 text-white font-semibold transition duration-500 hover:bg-blue-700 hover:scale-105 transform">
                Contactez-nous
              </a>
            </div>
          </div>
        </div>
      </section>
      
</section>

