<div class="flex flex-col items-center justify-center py-10 md:px-20 fade-in"
     appAnimateOnScroll animationClass="fade-in">
    <h2 class="text-4xl font-bold uppercase text-primary slide-down"
        appAnimateOnScroll animationClass="slide-down"
        [delay]="100">Autres fonctionnalités</h2>
    <div class="flex flex-col items-center justify-center w-full gap-8 p-6 bg-white lg:flex-row">
    <div class="space-y-4 lg:w-1/2 slide-left"
         appAnimateOnScroll animationClass="slide-left"
         [delay]="300">
      <div class="relative z-10 w-full shadow-lg rounded-xl zoom-in"
           appAnimateOnScroll animationClass="zoom-in"
           [delay]="400">
        <img src="images/smiling-woman-with-afro-posing-pink-sweater.jpg" alt="Autres fonctionnalités" class="object-cover w-full h-auto z-5 rounded-xl" />
        <div class="absolute -left-4 -top-6 z-[-1] rounded-full  w-[80px] h-[80px] bg-primary"></div>
        <div class="absolute -left-10 z-[-1] -bottom-10 rounded-full  w-[180px] h-[180px] bg-primary"></div>

      </div>
    </div>

    <div class="space-y-6 lg:w-1/2 slide-right"
         appAnimateOnScroll animationClass="slide-right"
         [delay]="500">
      <ul class="space-y-4 text-sm text-gray-700">
        @for(feature of features; track feature.id) {
            <li class="flex items-center gap-3 fade-in"
                appAnimateOnScroll animationClass="fade-in"
                [delay]="600 + (feature.id * 100)">
                <span class="flex items-center justify-center w-12 h-12 bg-white rounded-full shadow-lg zoom-in-item"
                      appAnimateOnScroll animationClass="zoom-in-item"
                      [delay]="700 + (feature.id * 100)">
                  <img [src]="feature.img" [alt]="feature.alt" class="w-6 h-auto" />
                </span>
                <span class="font-bold">{{feature.title}}</span>
            </li>
        }
      </ul>
    </div>
  </div>

  <button class="px-6 py-2 text-white rounded-full shadow-md bg-sky-500 hover:bg-sky-600 slide-up"
          appAnimateOnScroll animationClass="slide-up"
          [delay]="800">
    Accéder au service
  </button>

</div>