<!-- <div id="home">
    <app-home></app-home>
</div> -->

<div id="home">
    <app-hero></app-hero>
</div>
<div id="ingenierie" class="py-4 fade-in" appAnimateOnScroll animationClass="fade-in" [triggerOnce]="false" [threshold]="0.5">
    <app-process-ingineering></app-process-ingineering>
</div>
   
<div id="produits" class="py-4 fade-in" appAnimateOnScroll animationClass="fade-in" [triggerOnce]="false" [threshold]="0">
    <app-sirh-ngombe></app-sirh-ngombe>
    <app-features></app-features>
    <app-digital-payment-solution></app-digital-payment-solution>
</div>
<div id="services">
    <app-our-services></app-our-services>
</div>
<div id="partners">
    <app-partners></app-partners>
</div>
<div>
    <app-about-us></app-about-us>
</div>