<!-- <div id="home">
    <app-home></app-home>
</div> -->

<div id="home">
    <app-hero></app-hero>
</div>
<div>
    <app-process-ingineering></app-process-ingineering>
</div>
<app-sirh-ngombe></app-sirh-ngombe>
<app-features></app-features>











<div id="cvtheque">
    <app-comming-soon></app-comming-soon>
</div>
<div>
<app-digital-payment-solution></app-digital-payment-solution>
</div>
<div id="services">
    <app-our-services></app-our-services>
</div>
<div id="partners">
    <app-partners></app-partners>
</div>
<app-contact></app-contact>
