<section class="relative about-contact fade-in"
         appAnimateOnScroll animationClass="fade-in">
<div class="flex flex-col w-full" id="about-us">
    <h2 class="mb-12 text-3xl font-bold text-center text-primary slide-down"
        appAnimateOnScroll animationClass="slide-down"
        [delay]="100">A propos de nous</h2>
    <div class="flex flex-col items-center gap-10 p-6 bg-white lg:flex-row">
        <div class="relative lg:w-1/2 slide-left"
             appAnimateOnScroll animationClass="slide-left"
             [delay]="300">
          <img src="images/portrait-jeune-femme-souriante-aide-tablette-numerique-devant-immeuble-bureaux.png" alt="À propos" class="w-full max-w-md rounded-xl zoom-in"
               appAnimateOnScroll animationClass="zoom-in"
               [delay]="400"/>
          </div>

        <div class="space-y-4 text-gray-700 lg:w-1/2 slide-right"
             appAnimateOnScroll animationClass="slide-right"
             [delay]="500">
          <h3 class="text-lg font-bold text-gray-900 fade-in-item"
              appAnimateOnScroll animationClass="fade-in-item"
              [delay]="600">Qui sommes nous?</h3>

          <p class="fade-in-item"
             appAnimateOnScroll animationClass="fade-in-item"
             [delay]="700">
            Fondée avec l'objectif de fournir des solutions fiables et évolutives, Ngombe Soft est une entreprise
            spécialisée dans l'ingénierie des processus métiers. Nous aidons les entreprises à cartographier, piloter et
            optimiser leurs processus afin de gagner en efficacité et en compétitivité.
          </p>

          <p class="fade-in-item"
             appAnimateOnScroll animationClass="fade-in-item"
             [delay]="800">
            Avec une expertise multisectorielle couvrant l'industrie alimentaire, la métallurgie, les télécommunications et
            d'autres secteurs, nous sommes déterminés à accompagner nos clients dans leur transformation digitale et leur
            quête d'excellence opérationnelle.
          </p>

          <div class="space-y-4">
           @for(item of aboutUs;track item.id) {
            <div class="flex items-start gap-5 px-2 py-4 border-b-2 shadow-md border-spacing-12 border-b-gray-500 fade-in-item"
                 appAnimateOnScroll animationClass="fade-in-item"
                 [delay]="900 + (item.id_number * 150)">
                <span class="text-lg font-bold text-primary">{{item.id}}</span>
                <div>
                  <p class="font-semibold text-gray-800">{{item.label}}</p>
                  <p class="mt-3 text-sm">
                    {{item.description}}
                  </p>
                </div>
              </div>
           }
          </div>
        </div>
      </div>

</div>
<div class="relative lg:top-[-30px]" id="contact">
  <app-contact></app-contact>
</div>

</section>