<section id="produits" class="py-20 px-4 bg-gradient-to-r from-[#002D5B] to-[#006699] text-white relative overflow-hidden">
    <!-- Background Image with Overlay -->
    <div class="absolute top-0 left-0 z-0 w-full h-full bg-center bg-cover filter blur-sm" 
         style="background: linear-gradient(to right, rgba(0, 45, 91, 0.7), rgba(0, 102, 153, 0.7)), url('images/cvtheque_screen.png');">
    </div>
  
    <div class="relative z-10 mx-auto mt-5 text-center max-w-7xl">
        <h1 class="my-2 text-6xl sirh_title">SIRH <span class="text-primary">NGOMBE</span></h1>
      <h2 class="mb-8 text-2xl font-bold text-white">Découvrez Notre Solution Complète <span class="text-4xl">4</span> en <span class="4xl">1</span></h2>
      <p class="mb-4 text-xl">Avec le <strong class="font-bold">SIRH NGOMBE</strong>, vous bénéficiez d'une solution  avancée pour ameliorer la gestion
      et l'optimisation de vos processus métiers RH.</p>
      <p class="mb-12 text-lg">Le<strong>SIRH NGOMBE</strong> est une solution évolutive, adaptative et interactive développée dans le but de fluidifier et de dématérialiser chaque processus d'administration du capital humain.</p>
  
      <!-- Products Grid -->
      <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8 mb-12 text-[#002D5B]">
        <!-- Product 1 -->
        @for(feature of features; track feature.id) {
          <div class="p-6 transition duration-500 transform bg-white rounded-lg shadow-lg hover:scale-105 hover:shadow-xl">
            <fa-icon class="text-4xl text-primary" [icon]="feature.icon"></fa-icon>
            <h3 class="mb-4 text-2xl font-semibold">{{feature.title}}</h3>
            <p>{{feature.description}}</p>
          </div>
        }
      </div>
  
      <p class="mb-6 text-lg">Prêt à découvrir et utiliser nos solutions ? Accédez-y dès maintenant !</p>
      <!-- <a href="https://www.cvtheque.ngombe.org" 
         class="px-6 py-3 font-semibold text-white transition duration-300 rounded-lg bg-primary hover:bg-blue-800">
        Accéder aux Services
      </a> -->
      <a href="#contact" 
         class="px-6 py-3 font-semibold text-white transition duration-300 rounded-lg bg-primary hover:bg-blue-800">
        Accéder aux Services
      </a>
    </div>
  </section>
  